@model Creuna.EPiCodeFirstTranslations.Presentation.ViewModels.Pages.FrontPageViewModel

@{
    ViewBag.Title = "title";
}

<h2>@Model.Header</h2>

<p>Ok label is " @Html.Translation(t => t.Labels.Ok)"</p>
<p>Save label is "@Html.Translation(t => t.Labels.Save)"</p>
<p>Cancel label is "@{Html.RenderTranslation(t => t.Labels.Cancel);}"</p>
