@using System.Globalization
<!DOCTYPE html>

<html lang="@CultureInfo.CurrentUICulture.Name">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
