<appSettings>
  <add key="webpages:Version" value="2.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  
  <add key="IgnoredResourceProviders" value="EPiServerShellModulesResources;EPiServerShellProductModulesResources" />
  <add key="PageSize" value="100" />
  <add key="DefaultModeIsSimple" value="true" />
  <add key="DefaultSortField" value="Key" />
  <add key="DefaultIsAscending" value="true" />
  <add key="AutoSaveInterval" value="10000" />
  <add key="ImportExportLocalizationProvider" value="TranslationsPageLocalizationProvider" />
  <add key="DefaultCulture" value="en" />
</appSettings>