<appSettings>
  <add key="webpages:Version" value="2.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <add key="ResourceEditor.IgnoredResourceProviders" value="EPiServerShellModulesResources;EPiServerShellProductModulesResources" />
  <add key="ResourceEditor.PageSize" value="100" />
  <add key="ResourceEditor.DefaultModeIsSimple" value="true" />
  <add key="ResourceEditor.DefaultSortField" value="Key" />
  <add key="ResourceEditor.DefaultIsAscending" value="true" />
  <add key="ResourceEditor.AutoSaveInterval" value="10000" />
  <add key="ResourceEditor.ImportExportLocalizationProvider" value="TranslationsPageLocalizationProvider" />
</appSettings>