<connectionStrings>
  <add name="EPiServerDB" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|EPiServerDB_73917249.mdf;Initial Catalog=EPiServerDB_73917249;Connection Timeout=60;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  <!--<add name="EPiServerDB" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|EPiServerDB_73917249.mdf;Initial Catalog=EPiServerDB_73917249;Integrated Security=True;MultipleActiveResultSets=True;Connect Timeout=60;User Instance=True"
    providerName="System.Data.SqlClient" />
-->
</connectionStrings>